<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script>
        /** 给元素的点击添加冷却时间
        element：元素，一般传this
        key：用于显示文本的属性名，如button是textContent，input是value
        time：冷却时间
        fun：点击时执行的函数
        */
        function cooldownElement(element, key, time=5, fun=()=>{}) {
            fun();
            element.disabled = true; // 禁用按钮
            var text=element[key];

            var countdownInterval = setInterval(function() {
                time -= 1; // 每秒减少1秒
                element[key] = `${text} (${time})`; // 更新显示剩余时间的元素内容

                if (time <= 0) {
                    clearInterval(countdownInterval); // 清除倒计时
                    element[key] = text; // 清空剩余时间显示
                    element.disabled = false; // 重新启用按钮
                }
            }, 1000); // 每秒更新一次倒计时
        }
        function submitLogin(element){
            document.login.submit();
            cooldownElement(element, 'value')
        }
    </script>
</head>
<body>
<form name="login" method="post">
    {% csrf_token %} <!--这是Django提供的防止伪装提交请求的功能。POST 方法提交的表格，必须有此标签。 -->
    <p>请输入qq号：</p>
    <input type="number" name="qq" value={{qq}}>
    <p>请输入验证码</p>
    <input type="number" name="captcha">
    <input type="submit" value="获取验证码" onclick="submitLogin(this)">
    <input type="submit" name="login" value="登录" onclick="submitLogin(this)">
</form>
</body>
</html>